$height: 200px;

.results {
  // display: flex;
  // align-items: center;
  // justify-content: center ;
  text-align: center;
  ul {
    padding: 0;
  }
  .round-group {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    h4 {
      width: 10vw;
      align-self: center;

      margin: 0 1rem;
    }
    .color-name {
      text-align: right;
    }
    .percent {
      text-align: left;
    }

    .picked {
      display: block;
      border-radius: 50%;
      width: $height;
      min-width: $height;

      height: $height;
    }

    .targets {
      // width: 30vw;
      // height: 30vw;
      display: flex;
      margin-right: 4rem;

      .target {
        z-index: 2;
        border-radius: 50%;
        width: $height;
        height: $height;
      }
      .target-group {
        z-index: 1;
        margin-left: 0.6em;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        height: $height;

        .target {
          // margin: 0.2em;
        }
      }
    }

    .targets-1 {
      .target {
        width: $height;
        height: $height;
      }
    }

    .targets-2 {
      .target {
        // width: $height;
        // height: $height;
      }

      .target-group {
        margin-left: -2rem;

        z-index: 1;
        .target {
          width: calc(#{$height}/ 2);
          height: calc(#{$height}/ 2);
        }
      }
    }
    .targets-3 {
      .target {
        width: $height;
        height: $height;
      }

      .target-group {
        .target {
          width: calc(#{$height}/ 3);
          height: calc(#{$height}/ 3);
        }
      }
    }
    .targets-4 {
      height: $height;

      .target {
        width: $height;
        height: $height;
      }

      .target-group {
        // flex-direction: row-reverse;
        // align-items: flex-end;
        // margin-left: -2.5em;
        // padding-bottom: 2em;

        .target {
          // margin-right: -2em;
          width: calc(#{$height}/ 4);
          height: calc(#{$height}/ 4);
        }
      }
    }
  }
}
