.results {
  // display: flex;
  // align-items: center;
  // justify-content: center ;
  text-align: center;
  ul {
    padding: 0;
  }
  .round-group {
    margin: 2rem;
    display: flex;
    justify-content: center;

    .picked {
      border-radius: 50%;
      width: 20vw;
      height: 20vw;
    }

    .targets {
      // width: 30vw;
      // height: 30vw;
      display: flex;

      .target {
        border-radius: 50%;
      }
    }

    .targets-1 {
      .target {
        width: 20vw;
        height: 20vw;
      }
    }

    .targets-2 {
      .target {
        width: 20vw;
        height: 20vw;
      }

      .target-group {
        .target {
          width: 15vw;
          height: 15vw;
        }
      }
    }
    .targets-3 {
      .target {
        width: 20vw;
        height: 20vw;
      }

      .target-group {
        .target {
          width: 10vw;
          height: 10vw;
        }
      }
    }
    .targets-4 {
      height: 20vw;

      .target {
        width: 20vw;
        height: 20vw;
      }

      .target-group {
        .target {
          width: 5vw;
          height: 5vw;
        }
      }
    }

    h4 {
      width: 10vw;
    }
  }
}
