$width: 400px;

.grid-picker-container {
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  margin: 0 auto;
  // text-align: center;

  button {
    margin: 0 auto;

    // display: inline-block;
  }
}

.picker {
  max-width: 90vw;
  max-height: 90vw;

  width: $width;
  height: $width;

  margin: 0 auto;

  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  .picker__swatch {
    margin: 0;
  }
}
