@import './../../styles/variables.scss';

.game-container {
  min-height: 100vh;
  position: relative;

  .back-button-container {
    z-index: 4;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.new-game {
  // width: 100%;
  min-height: 90vh;
  padding: 2rem;
  // text-align: center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

//-------- Collapsible  ----------

.Collapsible {
  // text-align: left;
  .Collapsible__trigger {
    cursor: pointer;
    // text-align: left;
    h2 {
      // font-size: 2rem;
      display: flex;
      align-items: center;
      svg {
        transition: ease 0.4s;
        margin: 0 2rem;
        path {
          // fill: hsl(30, 50%, 50%);
        }
        width: 1em;
        height: 1em;
      }
    }
    &.is-open {
      svg {
        transform: rotate(-180deg);
      }
    }
  }
  .Collapsible__contentOuter {
    // text-align: center;
  }
}

/// highscores collapsible [many styles already applied in newgamesbuttons.scss]

.new-game {
  .highscores-collapsible {
    .Collapsible {
      .Collapsible__trigger {
        span {
          margin-left: 2rem;
          // text-align: center;
        }
        h2 {
          font-size: 1.2rem;
        }
        // &.is-open {
        //   span {
        //     flex: 20;
        //   }
        //   svg {
        //     flex: 1;
        //   }
        // }
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  .new-game {
    .highscores-collapsible {
      .Collapsible {
        .Collapsible__trigger {
          &.is-open {
            span {
              flex: 20;
            }
            svg {
              flex: 1;
            }
          }
        }
      }
    }
  }
}
