.game-container {
  // min-height: 90vh;
  .back-button-container {
    z-index: 4;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.new-game {
  // width: 100%;
  min-height: 90vh;
  padding: 2rem;
  text-align: center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

//-------- Collapsible  ----------

.Collapsible {
  text-align: left;
  .Collapsible__trigger {
    font-size: 3rem;
    cursor: pointer;
    text-align: left;
  }
  .Collapsible__contentOuter {
    text-align: center;
  }
}

// .collapsible-memory {
//   font-size: 3rem;
// }
// .collapsible-harmonies {
//   font-size: 3rem;
// }
// .collapsible-highscores {
//   font-size: 3rem;
// }
