.svg-btn-wrapper {
  // display: inline-flex;
  justify-content: center;
  align-items: center;
  span {
    // height: 4rem;
    display: inline-block;
    // border: 1px solid red;
    width: 0px;
    font-size: 0.8em;
    transition: all 0.4s ease-in-out;
    text-align: right;
    // vertical-align: middle;

    // height: ;
    overflow: hidden;
  }
}

// ------------------- responsive

@media (hover: hover) {
  .svg-btn-wrapper {
    &:hover {
      span {
        width: 10ch;
      }
    }
  }
}
