.color-picker {
  position: relative;
  // width: 100vw;
  height: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .reference-colors {
    display: flex;
    > div {
      margin: 1em;
    }
    // .complement-color {
    //   // border: 1px solid black;
    //   width: 50px;
    //   height: 50px;
    // }
    // .split-complement-color {
    //   // border: 1px solid black;
    //   width: 50px;
    //   height: 50px;
    // }

    // .triad-color {
    //   // border: 1px solid black;
    //   width: 50px;
    //   height: 50px;
    // }
    // .tetra-color {
    //   // border: 1px solid black;
    //   width: 50px;
    //   height: 50px;
    // }

    .grayscale-color,
    .complement-color,
    .split-complement-color,
    .triad-color,
    .tetra-color {
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
  }

  .react-colorful {
    width: 80vw;
    max-width: 600px;

    height: 80vh;
    max-height: 400px;
    // position: absolute;
    border-radius: 20%;
  }
}

.gamemode-Hue,
.gamemode-CompHue,
.gamemode-SCompHue,
.gamemode-TriadHue,
.gamemode-TetradHue {
  .react-colorful {
    width: 80vw;
    max-width: 600px;

    height: auto;
    .react-colorful__saturation {
      display: none;
    }
    .react-colorful__last-control {
      border-radius: 8px;
    }
    // width: 20px;
  }
}
.gamemode-SatLum,
.gamemode-CompSL,
.gamemode-SCompSL,
.gamemode-TriadSL,
.gamemode-TetradSL {
  .react-colorful {
    width: 80vw;
    max-width: 600px;
    .react-colorful__hue {
      display: none;
    }
    .react-colorful__saturation {
      border-bottom: none;
      border-radius: 8px;
    }
  }
}

// .gamemode-GSLum {
//   .react-colorful {
//     width: 80vw;
//     max-width: 600px;
//     .react-colorful__hue {
//       display: none;
//     }
//     .react-colorful__saturation {
//       border-bottom: none;
//       border-radius: 8px;
//     }
//   }
// }
