$height: 200px;

.compare-colors {
  min-height: 90vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .round-group {
    // margin: 2rem;
    display: flex;
    // width: 100%;
    justify-content: center;

    .picked,
    .target {
      border-radius: 50%;
      width: $height;
      height: $height;
      margin: 0 1em;
    }
    button {
      display: block;
      width: 100%;
    }
  }
}
