.compare-colors {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  text-align: center;

  .round-group {
    margin: 2rem;
    display: flex;
    // width: 100%;
    justify-content: center;

    .picked,
    .target {
      border-radius: 50%;
      width: 20vw;
      height: 20vw;
    }
    button {
      display: block;
      width: 100%;
    }
  }
}
