@import './styles/variables.scss';
* {
  box-sizing: border-box;
  text-decoration: none;
}

.App {
  /* text-align: center; */
  background-color: #282c34;
  color: $white;
}
a {
  color: $white !important;
  &:hover {
    transition: 0.3s;
    filter: invert(100);
  }
}

// ---------------HEADER
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: #282c34;
  background: #d7d3cb; // inverse of app black color

  min-height: 10vh;
  transition: all 0.8s ease;

  font-size: calc(10px + 2vmin);

  a {
    &:hover {
      transition: 0.3s;
      filter: none;
    }
  }

  h1 {
    margin: 0;
    padding: 0.2em 0.5em;
    text-align: center;
    color: #282c34;
  }
}

.header-nav-active {
  color: white;
  background: linear-gradient(40deg, red, transparent),
    linear-gradient(160deg, blue, transparent),
    linear-gradient(280deg, green, transparent);
  background-blend-mode: difference;
  h1 {
    color: $white;
  }
}

// --------------------------MAIN

main {
  > div {
    min-height: 90vh;
  }
}
.App-link {
  color: #61dafb;
}
