* {
  box-sizing: border-box;
  text-decoration: none;
}

.App {
  /* text-align: center; */
  background-color: #282c34;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  color: #282c34;
  background-color: #d7d3cb; // inverse of app black color

  min-height: 10vh;

  font-size: calc(10px + 2vmin);

  h1 {
    margin: 0;
    padding: 0.2em;
    text-align: center;
    color: #282c34;
  }
}
main {
  > div {
    min-height: 90vh;
  }
}
.App-link {
  color: #61dafb;
}
