$white: #d7d3cb;
$black: #282c34;

$height: 80px;
//menu bubble radius
$radius: 140px;

nav {
  // position: absolute;
  // top: 0;
  // right: 0;
  // padding: 1em;
  // width: 100%;
  display: flex;
  flex-direction: row-reverse;
  // overflow: visible;
  //   justify-content: center;
  //   align-items: center;
  background-color: transparent;

  .nav-toggle {
    z-index: 2;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: $height;
    width: $height;
  }
  ul {
    z-index: 1;
    background-color: transparent;
    position: absolute;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    // align-items: center;
    height: $height;
    width: $height;
    padding: 0;
    margin: 0;

    list-style: none;
    // transform: translateX(50vw);
    mix-blend-mode: exclusion;
    // mix-blend-mode: hue;
    li {
      font-size: 1rem;
      opacity: 0;
      transition: 0.3s ease-in-out;
      position: absolute;
      border-radius: 50%;
      box-sizing: border-box;
      background: black; // filter: invert(100);
      // background: white;
      // mix-blend-mode: difference;
      // background-blend-mode: color-burn;
      // mix-blend-mode: color-burn;
      // mix-blend-mode: exclusion;
      //   padding: 4rem;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        width: $height;
        height: $height;
        text-align: center;
        color: $white;
        border: 1px solid $white;
        border-radius: 50%;

        background: transparent;
        text-decoration: none;
      }
      &:hover {
        filter: invert(100%);
      }
    }
  }
}

.nav-active {
  ul {
    li {
      opacity: 1;

      &:nth-child(1) {
        // transform: translateX(-$radius);
        transform: rotate(-5deg) translateX(-$radius) rotate(5deg);
        transition-duration: 0.3s;
      }
      &:nth-child(2) {
        // transition-delay: 0.1s;
        transition-duration: 0.4s;

        // transform: translate(
        //   calc(-1.414 * 0.5 *#{$radius}),
        //   calc(1.414 * 0.5 *#{$radius})
        // );
        transform: rotate(-45deg) translateX(-$radius) rotate(45deg);
      }
      &:nth-child(3) {
        // transition-delay: 0.2s;
        transition-duration: 0.47s;

        // transform: translateY($radius);
        transform: rotate(-85deg) translateX(-$radius) rotate(85deg);
      }
    }
  }
}
