$white: #d7d3cb;
$black: #282c34;

@import './../../styles/variables.scss';
@import './../../styles/animation.scss';

$height: 80px;
$open-height: $height * 3;
//menu bubble radius
$radius: 140px;

nav {
  height: $height;
  width: $radius * 1.5;
  transition: all 0.2s ease;

  // position: absolute;
  // top: 0;
  // right: 0;
  // padding: 1em;
  // width: 100%;
  display: flex;
  flex-direction: row-reverse;
  // overflow: visible;
  //   justify-content: center;
  //   align-items: center;
  // background-color: transparent;

  .nav-toggle {
    z-index: 2;
    cursor: pointer;
    // position: absolute;
    // top: 0;
    // right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: $height;
    width: $height;
    overflow: visible;

    svg {
      overflow: visible;
      width: 70%;
      height: 70%;
      animation: rotate 15s linear infinite;
      path {
        transform-origin: center;
        overflow: visible;
        @for $x from 1 through 12 {
          &:nth-child(#{$x}) {
            animation: segment-delay 5s ease-in-out (1s * 5/12 * ($x)) infinite,
              fade-in 1s ease ($x) * 50ms forwards;

            // animation-delay: 50ms * ($x);
            fill: hsl(($x) * 30, 50%, 50%);
          }
        }
      }
    }
  }
  ul {
    z-index: 1;
    // background-color: transparent;
    position: absolute;
    display: flex;
    flex-direction: row;

    height: $height;
    width: $height;
    padding: 0;
    margin: 0;

    list-style: none;
    // mix-blend-mode: exclusion;
    // mix-blend-mode: darken;

    // filter: invert(100%);
    li {
      font-size: 1.2rem;
      letter-spacing: 0.1em;
      font-weight: 500;
      opacity: 0;
      transition: 0.4s ease-in-out;
      position: absolute;
      border-radius: 50%;
      box-sizing: border-box;
      background: white;
      // color: white;
      // background: hsl(30, 80%, 50%);
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        width: $height;
        height: $height;
        text-align: center;
        // color: white;
        border: 2px solid white;
        border-radius: 50%;

        // background: transparent;
        text-decoration: none;
      }
    }
  }
}

.nav-active {
  height: $height * 3;
  transition: all 0.75s ease;
  .nav-toggle {
    opacity: 0;
    // padding: $height $height $radius $radius;
    // pointer-events: none;
    a {
      // z-index: 4;
    }
  }
  ul {
    li {
      opacity: 0.8;
      &:hover {
        opacity: 1;

        // filter: invert(100%);
        // mix-blend-mode: exclusion;
        // background-blend-mode: exclusion;
        // background-color: black;
        // background-color: transparent;
      }

      &:nth-child(1) {
        // transform: translateX(-$radius);
        transform: rotate(-5deg) translateX(-$radius) rotate(5deg);
        transition-duration: 0.2s;
      }
      &:nth-child(2) {
        // transition-delay: 0.1s;
        transition-duration: 0.4s;

        // transform: translate(
        //   calc(-1.414 * 0.5 *#{$radius}),
        //   calc(1.414 * 0.5 *#{$radius})
        // );
        transform: rotate(-45deg) translateX(-$radius) rotate(45deg);
      }
      &:nth-child(3) {
        // transition-delay: 0.2s;
        transition-duration: 0.47s;

        // transform: translateY($radius);
        transform: rotate(-85deg) translateX(-$radius) rotate(85deg);
      }
    }
  }
}
